[Unit]
Description=Create a transparent proxy over SSH with sshuttle
After=network-online.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=/usr/bin/sshuttle -vr username@localhost 0/0

[Install]
WantedBy=multi-user.target
